<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="stylesheet" type="text/css" href="/portfolio.css">
</head>
<body>
<div class = "backImg">
	<div class = "profile">
		<img src = "IMG_20170321_153346.jpg" alt="Image of Prakhar Tiwari">
		<div class = "profileText">
			<h2> Prakhar Tiwari</h2>
			<h3> Kanpur,Uttar Pradesh, India</h3>
			<p> WEB DEVELOPER | ANDROID APP DEVELOPER | COMPETITIVE PROGRAMMER</p>
		</div>
	</div>
</div>
</body>
</html>
